@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap") ;

@import url("components/container.css") ;

@import url("components/avatar.css") ;

@import url("components/button.css") ;

@import url("components/banner.css") ;

@import url("components/card.css") ;

body{font-family: 'Roboto Mono', monospace;
	background-color: ;
	margin: 0px;
	position: justify}

h1{font-family: 'Roboto', sans-serif;}

h2{font-family: 'Roboto', sans-serif;
	font-size: 25px
	}